.navbar {
  position: sticky;
  top: 0;
  background-color: #34353a;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 20px;
  z-index: 1000;
  transition: 0.32s ease-in-out;
  width: 100%;
}

.logo a {
  display: flex;
  font-size: 24px;
  font-weight: bold;
  color: white;
  text-decoration: none;
}
.logo {
  display: flex;
}
.my-details-cont {
  padding-top: 10px;
  .name {
    font-size: larger;
    font-weight: 600;
  }
  .email {
    font-size: small;
  }
}
.navbar-logo {
  height: 80px;
  width: 80px;
}
.socialLinks {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.socialLinks a {
  margin-left: 20px;
  color: white;
  text-decoration: none;
  margin-right: 20px;
}

.navbar-social-icon {
  width: 24px;
  height: 24px;
  transition: transform 0.3s ease-in-out;
}

.socialLinks a:hover .navbar-social-icon {
  transform: scale(1.1);
}
