/* tech.css */
.container-proj{
    padding-top: 15rem;
}
.proj {
    margin: 2rem 0;
    padding: 0 0 10em 0;
    position: relative;
  }
  .proj-bx {
    background: #34353A;
    /* background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(26,4,33,1) 48%, rgba(0,0,0,1) 100%); */
    border-radius: 64px;
    text-align: center;
    padding: 60px 50px;
    margin-top: -60px;
  }
  .proj h2 {
    font-size: 45px;
    font-weight: 700;
  }
  .proj p {
    color: #b8b8b8;
    font-size: 18px;
    letter-spacing: 0.8px;
    line-height: 1.5em;
    margin: 14px 0 75px 0;
  }