@tailwind base;
@tailwind components;
@tailwind utilities;

/************ Custom Font ************/
@font-face {
  font-family: Centra;
  src: url("../../public/assets//font/CentraNo2-Bold.ttf");
  font-weight: 700;
}
@font-face {
  font-family: Centra;
  src: url("../../public/assets/font/CentraNo2-Medium.ttf");
  font-weight: 500;
}
@font-face {
  font-family: Centra;
  src: url("../../public/assets/font/CentraNo2-Book.ttf");
  font-weight: 400;
}
@font-face {
  font-family: Newretro;
  src: url("../../public/assets/font/Newretro.ttf");
  font-weight: 400;
}
@font-face {
  font-family: ProximaNova;
  src: url("../../public/assets/font/ProximaNovaSemibold.otf");
  font-weight: 400;
}

:root {
  --background: #34353a;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: ##34353a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: "ProximaNova", sans-serif !important;
  background-color: #121212;
  font-weight: 400;
  overflow-x: hidden;
  position: relative;
}
@media (min-width: 1700px) {
  main .container {
    max-width: 100%;
    padding: 0 150px;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #fff;
  margin: 0;
  padding: 0;
  line-height: normal;
}

p,
a,
li,
button,
ul {
  margin: 0;
  padding: 0;
  line-height: normal;
  text-decoration: none;
}
.hero-container {
  padding-left: 4rem;
  padding-right: 4rem;
}
.bg-image {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1; /* Ensures the image stays behind content */
  /* background-image: url('path/to/bannerImage'); */
  background-repeat: no-repeat;
  background-size: cover; /* You can adjust size as needed */
  background-position: center center;
}
